@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<div class="text-center">
    <h1 class="display-4">My NoteBook</h1>
    <p>Start your Journals.</p>
</div>
@*<form method="post">
    <div>
        <label asp-for="Notebook.Name"></label>
        <input asp-for="Notebook.Name" />
    </div>
    <div>
        <label asp-for="Blog.StartDate"></label>
        <input asp-for="Blog.StartDate" />
    </div>
    <input type="submit" />
</form>*@

<section>
    <div class="container">
        <div class="row">
            @foreach (var notebook in Model.NotebookList)
            {
                <div class="col notebooks">
                    <p class="d-inline"><a class="a-underline" asp-page="NoteBookPage" asp-route-id="@notebook.NotebookId">@notebook.Name</a></p>
                </div>
            }
            <div class="col notebooks">
                <h6 class="d-inline"><a class="a-underline" asp-page="NoteBooks/Create">+ Add New</a></h6>
            </div>
        </div>
     </div>
</section>
