p{
    font-size:18px;
}
.a-underline{
    display:inline-block;
}
.notebooks {
    height: 160px;
    margin: 6%;
    background-color:ghostwhite;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 70px;
    vertical-align: central;
    outline: inset;
    border-radius: 2px;
}
#notebookTitle {
    align-items: center;
    display: flex;
}
#notebookName{
    margin-left:40%;
}
#journalFrame{
    background-color:aliceblue;
    margin:4% 0%;
    padding: 4%;
}
a:hover{
    text-decoration:none;
}
#banner{
    display:flex;
    justify-content:space-between;
}
#banner p{
    font-size:medium;
}
#title {
    display: flex;
    align-items:center;
    margin:4% 0%;
}